* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 80%;
    margin: 0px auto;
    font-family: 'Fredoka', sans-serif;

}
/* Titolo */
header {

    text-align: center;
}




#titolo {
    color: rgb(228, 91, 119);
    font-family: 'Fredoka', sans-serif;

}

/* contenitore */
.row {
    margin-top: 40px;
   
}

.row::after {

    content: "";
    display: table;
    clear: left;
}
/* card */
.col {
    float: left;
    width: calc((100%/3) - 20px);
    margin: 0 10px;
    background-color: #15121b;
    box-shadow: 5px 5px 5px  rgba(26, 17, 17, 0.5);
    overflow: auto;
}

.corp {
    display: inline-block;
    color: bisque;
    vertical-align: middle;
    
}

img {
    width: 100px;
    vertical-align: middle;
   
}
a{
    text-decoration: none;
}